* {
  font-family: $primaryFontFamily;
  margin: auto !important;
}
body {
  background-color: $quaternaryColor;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: $septonaryColor;
    border-radius: 4px;
  }
}
