@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Nunito:ital,wght@0,500;0,700;1,500;1,700&display=swap');

$primaryFontFamily: 'Mulish', sans-serif;
$secondaryFontFamily: 'Nunito', sans-serif;

$primaryColor: #e6ecf5;
$secondaryColor: #07469c;
$tertiaryColor: #0099e1;
$quaternaryColor: #ffffff;
$quintonaryColor: #ef3061;
$sextonaryColor: #333333;
$septonaryColor: #757575;
$octenaryColor: #f2f2f2;

$primaryFonSize: 12px;
$secondaryFonSize: 14px;
$tertiaryFonSize: 16px;
$quaternaryFonSize: 20px;
$quintonaryFonSize: 30px;
$sextonaryFonSize: 32px;

@mixin breakpoints($point) {
  @if $point == sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $point == xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
}

// $primaryBorderRadius: 8px;
// $secondaryBorderRadius: 16px;

.displayNone {
  display: none;
}

.h2 {
  color: $secondaryColor;
  font-size: 32px;
  font-weight: 700;
}

.h3 {
  color: $secondaryColor;
  font-size: 20px;
  font-weight: 700;
}

.h4 {
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.mouse {
  cursor: pointer;
}
