.resetPassword {
  border: 1px solid $tertiaryColor;
  border-radius: 8px;
  padding: 20px 15px;
  &__text {
    padding-top: 20px;
    p:nth-child(1) {
      font-family: $secondaryFontFamily;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      padding-bottom: 10px;
    }
    p:nth-child(2) {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: $septonaryColor;
      line-height: 12px;
    }
    p:nth-child(3) {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: $septonaryColor;
    }
  }
  &__signUp {
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: $septonaryColor;
    a {
      color: $tertiaryColor;
      text-decoration: underline;
    }
  }
  @include breakpoints(sm) {
    padding: 30px 50px;
  }
}
