.inputPersonalInformation {
  display: flex;
  div:nth-child(1) {
    width: 100%;
    margin-right: 10px !important;
  }
  div:nth-child(2) {
    width: 100%;
    margin-left: 10px !important;
  }
}
.formPersonalInformationStep {
  @extend .borderContent;
  padding: 20px 40px;
  @include breakpoints(sm) {
    width: 350px;
  }
  @include breakpoints(md) {
    width: 391px;
  }
  @include breakpoints(lg) {
    width: 410px;
  }
  @include breakpoints(xl) {
    width: 665px;
  }
  &__form {
    padding: 20px 0;
    div {
      height: 55px;
      display: flex;
      justify-content: flex-end;
      input {
        padding-left: 16px;
      }
    }
    div:nth-child(2) {
      @extend .inputPersonalInformation;
    }
    div:nth-child(6) {
      @extend .inputPersonalInformation;
    }
    div:nth-child(11) {
      @extend .inputPersonalInformation;
    }
  }
  &__button {
    height: 55.92px;
    margin-bottom: 20px !important;
  }
}

.displayNoneInput {
  display: flex !important;
  @include breakpoints(md) {
    display: none !important;
  }
}
.displayFlexInput {
  display: none !important;
  @include breakpoints(md) {
    display: flex !important;
  }
}
