.itemStepApplication {
  display: flex;
  justify-content: center;
  padding: 0 0 0 34px;
  @include breakpoints(sm) {
    width: auto;
  }

  &__contentNumber {
    margin: 0 auto !important;
    padding: 46px 0 0 0;
    &__number {
      display: flex;
      width: 49px;
      height: 49px;
      border-radius: 50%;
      font-size: 32px;
      font-weight: 700;
    }
    &__bar {
      background-color: $primaryColor;
      height: 100%;
      width: 3px;
    }
  }
  &__text {
    padding: 43px 40px 10px 29px;
    p:nth-child(1) {
      color: $sextonaryColor;
      font-size: 22px;
      font-weight: 700;
      font-family: $secondaryFontFamily;
    }
    p:nth-child(2) {
      padding: 13px 0 0;
      color: black;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
.numberNotActive {
  background-color: $primaryColor;
  color: $secondaryColor;
}
.numberActive {
  color: $quaternaryColor;
  background-color: $secondaryColor;
}
