@mixin buttonCommonMixin(
  $color: #eeeeee,
  $fontFamily: $primaryFontFamily,
  $fontSize: $secondaryFonSize,
  $fontWeight: 700,
  $backgroundColor: $tertiaryColor
) {
  border-radius: 10px;
  color: $color;
  font-weight: $fontWeight;
  font-family: $fontFamily;
  font-size: $fontSize;
  background-color: $backgroundColor;
  width: 344px;
  height: 55.92px;
}

@mixin buttonDimensionsMixin($width, $height) {
  width: $width;
  height: $height;
}

.buttonHomeBlue {
  @include buttonCommonMixin();
  @include breakpoints(sm) {
    max-width: 208px;
  }
  @include breakpoints(xl) {
    max-width: 344px;
  }
}

.buttonHomeRed {
  @include buttonCommonMixin($fontSize: 18px);
}

.buttonOrderMobile {
  @include buttonCommonMixin(
    $fontFamily: $secondaryFontFamily,
    $fontSize: 24px
  );
}

.buttonOrderDesktop {
  @include buttonCommonMixin($fontSize: 18px);
}

.buttonViewMoreWhite {
  @include buttonCommonMixin($fontSize: 18px, $backgroundColor: transparent);
  border: 2px solid $tertiaryColor;
}

.buttonModalContinue {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: $tertiaryColor;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  color: $quaternaryColor;
}
.buttonModalCancel {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: $quaternaryColor;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  color: $tertiaryColor;
  border: 1px solid $tertiaryColor;
}
// .buttonViewMoreRed {
//   @include buttonCommonMixin(
//     $color: $colorRed300,
//     $backgroundColor: transparent
//   );
//   border: 2px solid $colorRed300;
// }
