.homeLayout {
  &__header {
    background-color: $primaryColor;
    &__content {
      max-width: 96rem;
      display: flex;
      &__links {
        a {
          margin: auto 10px !important;
          font-size: $tertiaryFonSize;
          font-weight: 500;
        }
      }
      &__button {
        width: 157px;
        height: 44px;
      }
    }
  }
  &__footer {
    background-color: $secondaryColor;
    color: $quaternaryColor;
    height: 198px;
    &__content {
      max-width: 96rem;
    }
  }
}

.buttonHome {
  background-color: $tertiaryColor;
  color: $quaternaryColor;
  border-radius: 12.64px;
  width: 100%;
  height: 100%;
}
