.personalInformation {
  display: flex;
  background-color: white;
  &__content {
    margin-right: 20px !important;
    @include breakpoints(sm) {
      margin: 0 auto !important;
    }
    &__text {
      padding-top: 48px;
      @include breakpoints(sm) {
        padding-left: 18px;
      }
      @include breakpoints(md) {
        padding-left: auto;
      }
      p {
        padding-top: 16px;
        @extend .h2;
      }
    }
    &__form {
      padding: 40px 0 80px 0;
    }
  }
  &__information {
    margin-left: 20px !important;
    margin-top: 175px !important;
    @include breakpoints(sm) {
      display: none;
    }
    @include breakpoints(xl) {
      display: block;
    }
    &__button {
      width: 100%;
      height: 55.92px;
      margin-top: 36px !important;
    }
  }
}

// main {
//   height: calc(100vh - 307px);
// }
