.personalInformation {
  display: flex;
  &__content {
    margin-right: 20px !important;
    @include breakpoints(sm) {
      margin: 0 auto !important;
    }
    &__text {
      padding-top: 48px;
      @include breakpoints(sm) {
        padding-left: 13px;
      }
      @include breakpoints(md) {
        padding-left: auto;
      }
      p {
        padding-top: 16px;
        @extend .h2;
      }
    }
    &__form {
      padding: 40px 0 80px 0;
    }
  }
  &__information {
    margin-left: 20px !important;
    @include breakpoints(sm) {
      display: none;
    }
    @include breakpoints(xl) {
      display: block;
    }
  }
}

// main {
//   height: calc(100vh - 307px);
// }
